#burger{
    display: grid;
    grid-template-rows: 5(1fr)
}

.innhold{
    height: calc(900px / 5)
}

div.innhold:nth-child(1){
    background-image: url("burger.png");
    background-position-y: calc(-(768px / 5));
    background-position-x: 0;
}
div.innhold:nth-child(2){
    background-image: url("burger.png");
    background-position-y: calc(-(768px / 5) * 2);
    background-position-x: 0;
}
div.innhold:nth-child(3){
    background-image: url("burger.png");
    background-position-y: calc(-(768px / 5) * 3);
    background-position-x: 0;
}
div.innhold:nth-child(4){
    background-image: url("burger.png");
    background-position-y: calc(-(768px / 5) * 4);
    background-position-x: 0;
}
div.innhold:nth-child(5){
    background-image: url("burger.png");
    background-position-y: calc(-(768px / 5) * 5);
    background-position-x: 0;
}